body {
  margin: 0;
  overflow: hidden;
  background: #0f0f1a;
  font-family: sans-serif;
  color: white;
}

#moviePlayer {
  width: 100vw;
  height: 100vh;
  background: black;
}

#filePrompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.upload-box {
  background: rgba(255,255,255,0.05);
  padding: 30px 50px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.2);
}

.upload-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

#customUploadBtn {
  margin-top: 10px;
  background: #8f63ff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

#controls {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

#controls button {
  background: rgba(255,255,255,0.15);
  border: none;
  padding: 14px 18px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

#userInitials {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 6px;
}

.initial-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
